<nav class="navbar navbar-light bg-light">
    <ul>
        <a href="/"><span class="navbar-brand mb-0 h1">HOME</span></a>
        <a href="/about"><span class="navbar-brand mb-0 h1">ABOUT</span></a>
    </ul>
</nav>