<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header') %>
    </header>
    <main>
      <div class="jumbotron bg-light">
        <h1>Welcome to Templating using EJS</h1>
        <h3>Santiago Rivera</h3>
        <div class="well">
          <h2>Drinks</h2>
        </div>
      </div>
    </main>

    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>